.counter
{
    display:flex;
    justify-content: center;
    margin-top: 62px;
}
/* defining css for class two */
.two
{
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding: 13px 18px;
    width: 1%;
}
.btn1
{
    padding: 14px;
    border:1px solid #eeeeee;
    border-radius: 7px 0px 2px 10px;
}
/* defining css for class btn2 */
.btn2
{
    padding:14px;
    border:1px solid #eeeeee;
    border-radius: 1px 11px 10px 2px;
    width:50px;
}
/* defining css for class btn1 */
.btn1
{
padding: 14px;
border: 1px solid #eeeeee;
border-radius: 7px 0px 2px 10px;
width: 50px;
}
